@mixin linx ($link, $visit, $hover, $active)
$base-font-family: 'Syncopate', sans-serif
$secondary-font-family: 'Yellowtail', cursive
$font-stack: 'Exo', sans-serif

$primary-color: rgba(50, 76, 251, 0.89)

@keyframes comeInTop
  from
    opacity: 0
    transform: translate3d(0, -100%, 0)
  to
    opacity: 1
    transform: none


@keyframes fadeInWithBounce
  0%
    opacity: 0
    transform: scale(0.5)
  50%
    opacity: 1
    transform: scale(1.0)

body
  color: black
  overflow: hidden

main
  display: flex
  flex-direction: column
  padding-left: 100px
  padding-right: 100px
  margin-top: 100px

h1
    margin: 0
    padding: 0
    font-family: $base-font-family
    font-size: 80px
    font-weight: bold
    text-shadow: 5px 5px 10px blue
    color: white
    text-transform: uppercase
    text-align: center
    width: 75vw
    animation-name: fadeInWithBounce
    animation-duration: 10s
    animation-delay: 1.5s
    animation-fill-mode: forwards

.noUnders
  text-decoration: none

h2
  margin-top: -20px
  margin-bottom: -10px
  font-family: $secondary-font-family
  font-size: 100px
  text-align: center
  font-weight: bold
  color: $primary-color
  text-shadow: 2px 2px black
  letter-spacing: 1px
  height: 150px

h3
   font-family: $secondary-font-family
   font-size: 90px
   color: $primary-color
   text-shadow: 2px 2px black
   margin-bottom: -100px
   margin-top: 5px

h4
    margin: 0
    padding: 0
    font-family: $base-font-family
    font-size: 125px
    font-weight: bolder
    text-shadow: 7px 10px 10px blue
    color: white
    text-transform: uppercase
    text-align: center
    width: 75vw
    height: 100vh
    animation: 7s fadeInWithBounce
    position: fixed

.App
  display: flex
  justify-content: center


nav
  display: flex
  flex-wrap: wrap
  top: 0
  position: fixed
  margin-left: -10px
  width: 100vw
  background-color: rgba(2, 4, 17, 0.25)
  margin-bottom: 50px
  border-bottom: 3px solid grey
  animation-name: comeInTop
  animation-duration: 5s
  justify-content: center
  padding: 5px
  ul
    display: flex
    flex-wrap: wrap
    width: 90vw
    padding-right: 5vw
    justify-content: center
    align-self: center
    font-family: $base-font-family
    font-size: 1.75em
    text-shadow: 2px 2px 2px white
    color: white
    display: flex
    flex: auto
    list-style: none
    height: 20px
    justify-content: space-between


.homeMain
  width: 100vw
  height: 300px
  // padding-right: 100px
  font-family: $font-stack
  font-size: 20px
  font-style: italic
  align-items: center
  margin-top: 100px
  text-shadow: 5px 5px 10px solid black

.HS1
  background-image: url('/src/Headshot2.jpg')
  background-size: cover
  background-position: center
  height: 500px
  width: 600px
  box-shadow: 3px 3px 10px black

.homeA
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 20px
  font-family: $font-stack
  width: 600px
  font-style: italic
  margin-right: 50px

.homeP
  display: flex
  justify-content: flex-start
  width: 600px
  padding-right: 100px
  font-family: $font-stack
  font-size: 20px
  font-style: italic
  align-items: center


.about
  display: flex
  width: 80vw
  margin-bottom: 20px
  font-size: 20px
  font-family: $font-stack


// @keyframes bounceInDown
//   from, 60%, 75%, 90%, to
//     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
//   0%
//     opacity: 0
//     transform: translate3d(0, -3000px, 0)
//   60%
//     opacity: 1
//     transform: translate3d(0, 25px, 0)
//   75%
//     transform: translate3d(0, -10px, 0)
//   90%
//     transform: translate3d(0, 5px, 0)
//   to
//     transform: none
//
// .dove
//     height: 25vh
//     width: 12vw
//     padding-left: 10px
//     background-image: url('/images/doveleft2.png')
//     background-repeat: no-repeat
//     background-size: $sprite-size*3
//     margin-left: 500px
//     animation-duration: 1s
//     animation-name: fly
//     animation-iteration-count: infinite
//     animation-timing-function: step-start
//
// .doveplacement
//     animation-name: comeInLeft
//     animation-duration: 10s
//     animation-iteration-count: 1
//     margin-bottom: -10px
//
// $sprite-size: 35vw
//
// @keyframes fly
//   0%
//     background-position-x: -12vw
//     background-position-y: 0
//   20%
//     background-position-x: -25vw
//     background-position-y: 0
//   30%
//     background-position-x: -43vw
//     background-position-y: 0
//   40%
//     background-position-x: -55vw
//     background-position-y: 0
//   60%
//     background-position-x: -67vw
//     background-position-y: 0
//   80%
//     background-position-x: -79vw
//     background-position-y: 0
//   100%
//     background-position-x: -96vw
//     background-position-y: 0
